# Next.js
.next/
out/

# dependencies
node_modules/
*.pnp
.pnp.js

# env
.env
.env.local
.env.*.local

# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# test files
test_*.js
test_*.mjs

# vercel
.vercel
